.login-page-container {
    margin-top: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.login-header {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 2rem;
    font-weight: bold;
}

.login-input {
    font-size: 0.8rem;
    padding: 0.5rem 2rem;
    border-radius: 0.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.login-button {
    position: relative;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: bold;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s;
}

.login-button:hover {
    background-color: black;
    color: white;
}

.login-button:active {
    top: 4px;
}

.login-load,
.login-error {
    margin-top: 1rem;
    font-size: 1.2rem;
}

.login-error {
    border-radius: 5px;
    background-color: indianred;
}