.logo-holder {
    position: relative;
    display: block;
    height: 80px;
    width: 80px;
}
nav {
    min-height: 150px;
}

.splash-image {
    position: absolute;
    /* margin-top: 5px;
    margin-left: 5px; */
}

.logo-image {
    position: absolute;
    /* margin-top: -15px;
    margin-left: -15px; */
}
.navFont {
    font-family: "Love Ya Like A Sister", cursive;
    font-size: 2.5em;
}

.profile-link {
    font-family: "Sanchez", serif;
    font-size: 1.2em;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
}
