.profile-header {
    text-align: center;
}

h2 {
    text-align: center;
    margin-bottom: 1.5rem;
}

.list-container {
    width: 30%;
    margin: 0 auto;
    height: 20rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.translation-list-item {
    margin: 0 auto;
    width: 5rem;
}

.translation-list {
    list-style: none;
}

.translation-list-button {
    display: inline;
}

.logout-button {
    margin-top: 1rem;
    position: relative;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: bold;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s;
}

.logout-button:hover {
    background-color: black;
    color: white;
}

.login-button:active {
    top: 4px;
}